body {
	font-family: 'Roboto', sans-serif;
	color: #58595B;
}
#pageOne {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid red;
	margin-bottom: 250px;
}
#p1Text1 {
	position: absolute;
	font-size: 1rem;
	top: 2%;
	left: 40%;
}
#p1Button {
	position: absolute;
	top: 65%;
	left: 38%;
	width: 25%;
	border: 1px solid yellow;
	}
#p1Text2 {
	position: absolute;
	font-size: 1rem;
	color: white;
	top: 70%;
	left: 45.5%;
	z-index: 10;
}
#p1Button:hover {
	cursor: pointer;
	width: 28%;
	top: 63.5%;
	left: 36.5%;
}
#pageTwo {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid yellow;
	margin-bottom: 250px;
	}
#p2Text1 {
	position: absolute;
	font-size: 1rem;
	top: 2%;
	left: 40%;
}
#p2Text2 {
	position: absolute;
	font-size: 1rem;
	top: 80%;
	left: 35%;
}
#p2Button {
	position: absolute;
	top: 35%;
	left: 10%;
	width: 25%;
	border: 1px solid yellow;
	}
#p2Button2 {
	position: absolute;
	top: 35%;
	left: 65%;
	width: 25%;
	border: 1px solid yellow;
	}
#p2Text3 {
	position: absolute;
	top: 40%;
	left: 17%;
	color: white;
}
#p2Text4 {
	position: absolute;
	top: 40%;
	left: 72%;
	color: white;
}
#p2Button:hover {
	width: 28%;
	top: 33.5%;
	left: 8.5%;
}
#p2Button2:hover {
	width: 28%;
	top: 33.5%;
	left: 63.5%;
}
#pageThree {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#arrowForward {
	position: absolute;
	top: 46%;
	left: 75%;
	width: 15%;
	border: 1px solid yellow;
	}

#arrowForward:hover {
	width: 16%;
}
#arrowBack:hover {
	width: 16%;
	left: 7.5%;
}
#buttonBack {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p3Text1 {
	position: absolute;
	top: 12%;
	left: 36%;
}
#pageFour {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#arrowForward4 {
	position: absolute;
	top: 46%;
	left: 75%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowBack4 {
	position: absolute;
	top: 46%;
	left: 8%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowForward4:hover {
	width: 16%;
}
#arrowBack4:hover {
	width: 16%;
	left: 7.5%;
}
#buttonBack4 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p4Text1 {
	position: absolute;
	top: 12%;
	left: 36%;
}
#p4Text2 {
	position: absolute;
	top: 53%;
	left: 43.5%;
}
#pageFive {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#arrowForward5 {
	position: absolute;
	top: 46%;
	left: 75%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowBack5 {
	position: absolute;
	top: 46%;
	left: 8%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowForward5:hover {
	width: 16%;
}
#arrowBack5:hover {
	width: 16%;
	left: 7.5%;
}
#buttonBack5 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p5Text1 {
	position: absolute;
	top: 12%;
	left: 36%;
}
#p5Text2 {
	position: absolute;
	top: 53%;
	left: 43.5%;
}
#pageSix {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#arrowForward6 {
	position: absolute;
	top: 46%;
	left: 75%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowBack6 {
	position: absolute;
	top: 46%;
	left: 8%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowForward6:hover {
	width: 16%;
}
#arrowBack6:hover {
	width: 16%;
	left: 7.5%;
}
#buttonBack6 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p6Text1 {
	position: absolute;
	top: 12%;
	left: 36%;
}
#p6Text2 {
	position: absolute;
	top: 53%;
	left: 43.5%;
}
#pageSeven {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
    margin-bottom: 250px;
}
#arrowBack7 {
	position: absolute;
	top: 46%;
	left: 8%;
	width: 15%;
	border: 1px solid yellow;
	}
#arrowBack7:hover {
	width: 16%;
	left: 7.5%;
}
#buttonBack7 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p7Text1 {
	position: absolute;
	top: 12%;
	left: 36%;
}
#p7Text2 {
	position: absolute;
	top: 53%;
	left: 43.5%;
}
#pageEight {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#enterButton8 {
	position: absolute;
	width: 20%;
	top: 56%;
	left: 39%;
}
#enterButton8:hover {
	width: 23%;
	top: 54.5;
	left: 37;
}
#buttonBack8 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#p8Text1 {
	position: absolute;
	color: #efac1f;
	font-size: 2rem;
	top: 12%;
	left: 20%;
}
#p8Text2 {
	position: absolute;
	top: 35%;
	left: 30%;
}
#pageNine {
	position: relative;
	width: 100%;
	max-width: 600px;
	border: 1px solid blue;
	margin-bottom: 250px;
}
#Neymar {
	position: absolute;
	width: 30%;
	top: 30%;
	left: 65%;
}
#buttonBack9 {
	position: absolute;
	width: 20%;
	top: 83%;
	left: 39%;
}
#arrowForward9 {
	position: absolute;
	top: 8%;
	left: 75%;
	width: 15%;
	border: 1px solid yellow;
	}
#p9Text1 {
	position: absolute;
	top: 17%;
	left: 8%;
}
#p9Text2 {
	position: absolute;
	top: 56%;
	left: 8%;
}